.projects {
  width: 900px;
  position: relative;
  top: 60px;
  right: 0;
  overflow-x: hidden !important;

  @media (max-width: 600px) {
    width: 100%;
  }

  #project-heading {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: .5rem;
    margin: 0 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;


    @media (min-width: 600px) {
      display: none;
    }
  }

  .project-grid-initial {
    display: flex;
    flex-direction: row;
    width: 900px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8rem;

    @media (max-width: 600px) {
      width: 100%;
      gap: 3.6rem;
    }
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  .project-stack {
    display: flex;
    width: 290px;
    height: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-bottom: 1.5rem;
  }
}
