.projects {
  width: 900px;
  position: relative;
  top: 40px;
  right: 0;
  overflow-x: hidden !important;

  .project-grid-initial {
    display: flex;
    flex-direction: row;
    width: 900px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    // flex-wrap: wrap;
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .project-stack {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
  }
}
