.portfolio__images {
  .portfolio__images__container {
    img {
      width: 569px !important;
      height: 400px !important;
      object-fit: cover;
      border-radius: 50px;
    }

    @media (max-width: 1240px) {
      img {
        width: 250px !important;
      }
    }
  }
}
