@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

.about {
  width: 900px;
  height: 100;
  text-align: center;
  padding: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  font-size: 10px;
  font-family: 'Poppins' sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 600px) {
    width: 100%;
    top: 320px;
  }

  .intro {
    width: 600px;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-family: 'Poppins' sans-serif;

    @media (max-width: 600px) {
      width: 100%;
      margin-top: 8rem !important;
      font-size: 12px !important;
    }

    .image-container {
      img {
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
        margin-bottom: 1.6rem;
      }
    }

    .mobile-intro {
      @media (max-width: 600px) {
        h3 {
          font-weight: 700;
          font-size: 14px;
          font-family: 'Josefin Sans', sans-serif;
          text-transform: uppercase;
          line-height: 1.2rem;
          letter-spacing: 2px;
        }

        p {
          font-size: 10px;
          font-weight: 600;
          color: gray;
          margin: 1rem 0;
          text-transform: uppercase;
          font-family: 'Josefin Sans', sans-serif;
        }
      }

      @media (min-width: 760px) {
        display: none;
      }
    }

    .resume-cta {
      padding: 2rem;
      margin-top: 1rem;
      font-family: 'Josefin Sans' sans-serif !important;

      button {
        outline: none;
        padding: 0.8rem;
        width: 120px;
        height: 40px;
        border: 1px solid gray;
        font-size: 9px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(to right, #1982fc 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.5s ease-out;
        cursor: pointer;

        &:hover {
          border: 1px solid #1982fc;
          font-weight: 600;
          background-position: left bottom;
          transition: all 0.35s ease-in-out;
        }
      }
    }
  }
}
