.about {
  width: 100%;

  @media (max-width: 1440px) {
    margin: 2rem 0;
  }

  @media (max-width: 1240px) {
    position: relative;
  }

  .about__container {
    display: flex;

    @media (max-width: 1240px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 969px) {
      margin-top: 12px;
    }

    @media (max-width: 490px) {
      margin-top: 30px;
    }

    .about__text {
      max-width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;

      h3 {
        font-size: 1.2rem;
        line-height: 30px;
        margin-left: 40px;
        font-weight: 300;

        @media (max-width: 969px) {
          font-size: 1.5rem;
          line-height: 40px;
          margin-left: 0;
        }

        @media (max-width: 490px) {
          font-size: 0.9rem;
          line-height: 20px;
        }
      }

      @media (max-width: 1240px) {
        margin-bottom: 40px;
      }

      @media (max-width: 969px) {
        text-align: center;
      }
    }

    .about__img {
      opacity: 0;

      @media (max-width: 490px) {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 150px !important;
          height: 500px !important;
          object-fit: cover !important;

          @media (max-width: 490px) {
            height: 400px !important;
          }
        }
      }
    }

    .about__links {
      display: flex;
      width: 200px;
      justify-content: space-between;
      align-items: center;
      transform: rotateZ(-90deg);
      margin: auto;
      margin-right: -90px;
      opacity: 0;

      p {
        font-size: 0.9rem;
      }

      a {
        text-decoration: none;
        color: #808080;
      }

      @media (max-width: 1240px) {
        transform: none;
        margin: 0 auto;
        position: absolute;
        bottom: -80px;
      }

      @media (max-width: 490px) {
        display: none;
      }
    }
  }
}
