@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 10px;
  justify-content: flex-start;

  @media (max-width: 600px) {
    // border: 2px solid blue;
  }

  .tag-name {
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    color: gray;
    padding: 0.7rem;
  }
}
