@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

.home {
  max-width: 320px;
  min-width: 190px;
  border-right: 2px solid gray;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  h3 {
    font-weight: 700;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.2rem;
    letter-spacing: 2px;
  }

  p {
    font-size: 10px;
    font-weight: 600;
    color: gray;
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
  }
}

@media (width: 1024px) {
  .home {
    width: 200px;
    padding: 0 2rem;
  }
}
