@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.socials {
  width: 900px;

  #text {
    width: 600px;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 20rem !important;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-family: 'Poppins' sans-serif;
  }
}

.connect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    position: absolute;
    bottom: 155px;

    .connect-links {
      min-width: 40px !important;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 2rem;
    }

    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: #fff;

      a {
        text-decoration: none;
      }

      #socials {
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        padding-left: .8rem;
        padding-right: .5rem;
      }
    }
  }