@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.grid {
  position: relative;
  border: 2px solid gray;
  height: 190px;
  width: 300px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  @media (max-width: 468px) {
    margin-bottom: 1.8rem;
  }

  @media (width: 768px) {
    width: 540px !important;
    height: 270px !important;
  }

  @media (width: 1024px) {
    width: 220px;
    height: 140px;
  }

  .project-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    top: 20px;
    right: 12px;

    a {
      cursor: pointer;
    }
  }

  .project-title {
    position: absolute;
    bottom: 28px;
    left: 18px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    @media (max-width: 468px) {
      color: #fff;
    }

    @media (min-width: 768px) {
      color: #fff;
      font-size: 18px;
    }
  }
}
