.app {
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden !important;
}

.side {
  height: 100%;
  position: absolute;
  right: 0;
}

.mobile-view {
  margin: 1rem;
  padding: .5rem;
}
