@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #f5f3f3;
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
  width: 15px !important;
}

::-webkit-scrollbar-track {
  background: #555 !important;
}

::-webkit-scrollbar-thumb {
  background: #888 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 151, 151) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  /* border: 2px solid blue; */
  height: calc(100vh - 200px);
}

.container {
  width: 100%;
  padding: 1rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
  /* border: 2px solid yellow; */
}

@media (max-width: 1440px) {
  .container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1240px) {
  .container {
    padding: 1rem 2rem;
  }
}

@media (max-width: 969px) {
  .container {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
  }
}

@media (max-width: 490px) {
  .container {
    width: 100%;
  }
}
